<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Lista de Tarefas</title>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/Task.js}"></script>
	
</head>
<body>
	<h3>Task List</h3>
	<div class="border-gradient">
	<div class="form-cadastro">
		<p><b>Cadastro de nova atividade</b></p><hr>
		<p th:if="erro" class="error" th:text="${erro}"></p>
		<form th:action="@{/tasks/adicionar}" method="post">
			<input type="hidden" id="id" name="id" value="">
			<p>
				<label for="deadline">Data de conclusão:</label>
				<input type="date" id="deadline" name="deadline" required>
			</p>
			<p>
				<label for="text">Descrição da tarefa:</label><br/>
				<textarea id="text" name="text" rows="5" cols="35" required></textarea>
			</p>
			
			<button class="btn btn-secondary btnCadastrar" type="submit">Cadastrar</button>
		</form>
	</div>
	</div>
	
</body>
</html>