@charset "UTF-8";

body{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #e4faff;
    color: #505050;
}

h3{
	padding: 1em;
	color: #505050;
}


h6 {
    background: #ff7300;
    width: 100%;
    text-align: center;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 10px 0;
    border: 1px solid #ff7300;
}

form{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
}

textarea{
	border: 1px solid #d7d7d7;
	width: 100%;
}

/* ------- Cadastro de Tarefas --------- */
.form-cadastro{
	background-color: white;
	padding: 2em;
    border-radius: 10px;
}
.border-gradient{
	padding: 2px;
	border-radius: 10px;
	background: linear-gradient(0deg, rgb(255 136 39) 0%, rgb(255 82 1) 100%);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btnCadastrar{
	background: linear-gradient(0deg, rgb(255 136 39) 0%, rgb(255 82 1) 100%);
	border-color: #ff7300;
	width: 100%;
}
p.btnCadastrar{
	width: 100%;
}
.btnCadastrar:hover{
	background: linear-gradient(0deg, rgb(255 82 1) 0% ,rgb(255 136 39) 100%);
	border-color: #ff7300;
}


/* ------- Listagem de Tarefas --------- */
.tasks{
	display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    width:100%;
}

.AIniciar, .EmAndamento, .Concluida{
	width:25%;
	min-height:70vh;
	border: 1px solid #ff7300;
	display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #ffd0aa;
}

.task{
	background-color: #fff;
	border-radius: 10px;
	padding: 1em 2em;
    width: 90%;
    border: 1px solid #dfdfdf;
    margin-bottom:5px;
    box-shadow: rgb(146 119 97 / 26%) 0px 1px 3px 0px, rgb(255 115 0 / 34%) 0px 1px 2px 0px;
}

.descricao{
	word-wrap: break-word; 
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal; 
    max-width: 100%;
}

.error{
	color: #ca0606;
    background-color: #fe000024;
    border-radius: 3px;
    font-size: 0.8em;
    text-align: center;
    font-weight: 600;
    width: 100%;
}
.mensagem-sucesso{
	position: absolute;
    top: 20px;
    left: 20px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    width: 300px; /* Define uma largura fixa para a mensagem */
    z-index: 1000;
}
.mensagem-sucesso.ativa {
    transform: translateX(0);
}
.barra-container {
    width: 100%;
    background-color: #c3e6cb;
    height: 5px;
    margin-top: 10px;
    border-radius: 0 3px 3px 0;
    overflow: hidden;
}

.barra {
    width: 0;
    height: 100%;
    background-color: #155724;
    transition: width 3s linear; 
}

/* ------- Editar atividade --------- */

.modal-body{
	padding: 3rem;
    display: flex;
    justify-content: center;
}
.btnsEditar{
	display: flex;
    width: 100%;
    justify-content: flex-end;
}
	
.btnFechar{
	color: #ff7300;
	border: 1px solid #ff7300;
	background-color: #fff;
	margin-left: 1em;
}
a.btnFechar:hover{
	color: #ff7300;
}

.btnSalvar{
	color: #fff;
	background-color: #ff7300;
	margin-left: 1em;
}



/* ------- Botão nova atividade --------- */

a.btnfos{
	color: #fff;
	text-decoration: none;
}
.btnfos {
  color: #fff !important;
  cursor: pointer;
  display: block;
  font-size: 16=5px;
  font-weight: 400;
  line-height: 45px;
  max-width: 170px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.btnfos-1 {
   background: linear-gradient(0deg, rgb(255 136 39) 0%, rgb(255 82 1) 100%);
  font-weight: 100;
}
.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
.btnfos-1 rect {
  fill: none;
  stroke: #ff7300;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: rgba(225, 51, 45, 0);
  /*letter-spacing: 1px;*/
  font-weight: 900;
  color: #ff7300 !important;
}
.btnfos-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btnSair {
    position: absolute; /* Fixado na página */
    top: 20px; /* Distância do topo da página */
    right: 20px; /* Distância do lado direito da página */
    padding: 10px 20px;
    background-color: #ff7300; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remover sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #ff7300; /* Borda da mesma cor que o fundo */
    font-size: 16px;
    cursor: pointer;
}

.btnSair:hover {
    background-color: #ff5201; /* Cor de fundo ao passar o mouse */
    border-color: #ff5201; /* Mudar cor da borda ao passar o mouse */
}